/* *******************************
  ClientVR - Stylesheets
  Author: Centro Digital
  Version 0.0.1
******************************* */
/* BASE - base styles, variables, and mixins */
html {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* LAYOUT - footer and header styles */
/* MODULES - Individual site component styles */
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  z-index: 10000000000000;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: auto; }

.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 40px 0 40px 0; }

.close {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-top: -35px;
  margin-right: -10px;
  background: url("../icons/x.png") center center no-repeat;
  background-size: 30px;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.close:hover {
  opacity: 1; }

.menu {
  margin-top: 1.25rem; }

.menu-section:first-child .menu-header {
  border-top: 2px solid #FFF; }

.menu-section:last-child {
  border-bottom: 1px solid #FFF; }

.menu-section .menu-header {
  margin: 0;
  padding: 0.625rem 0 0.625rem 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  text-transform: capitalize; }

.menu-section .menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.menu-section .menu-list.open {
  max-height: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.313rem; }

.menu-list .menu-list-option {
  padding: 0.313rem 0.625rem 0.313rem 0.625rem;
  color: #000;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }

.menu-list .menu-list-option:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #FFF; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.btn-container-a {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 18px;
  width: 35px;
  height: 35px;
  margin-left: auto;
  vertical-align: top;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: auto; }

.btn-container-b {
  display: inline-block;
  position: absolute;
  top: 65px;
  right: 18px;
  width: 35px;
  height: 35px;
  margin-left: auto;
  vertical-align: top;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: auto; }

.btn-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  pointer-events: auto; }

.btn-a i, .btn-b i {
  color: #FFF; }

.btn-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px; }

.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container-modal .content-wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem; }

.container-modal .close {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: calc(10px - 1rem);
  background: url("../icons/x.png") center center no-repeat;
  background-size: 30px;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.container-modal .close:hover {
  opacity: 1; }

.container-modal .section-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  width: 100%; }

.modal-details {
  color: #FFF;
  padding-bottom: 2rem; }

.section-a figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section-a figure img {
  width: 200px; }

.modal-details p.msrp {
  color: #EEB111;
  text-transform: uppercase; }

.modal-details ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.container-option-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.container-option-blocks .option-block {
  width: 30px;
  height: 30px;
  border: 2px solid #FFF; }

.section-b {
  color: #FFF;
  padding-bottom: 2rem; }

.section-b h2 {
  margin-bottom: 2rem; }

.container-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .container-loading .spinner {
    display: inline-block;
    position: relative;
    height: 45px;
    width: 45px;
    vertical-align: middle; }
  .container-loading .spinner span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid white;
    border-radius: 40px;
    -webkit-animation: scale 3s ease-out infinite;
            animation: scale 3s ease-out infinite; }
  .container-loading .label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    color: #FFF;
    font-size: 34px;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .container-loading .label:after {
    content: '...'; }
  .container-loading .spinner span:nth-child(2) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .container-loading .spinner span:nth-child(3) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@media screen and (min-width: 418px) and (max-width: 984px) {
  .container {
    width: 250px; } }

@media screen and (min-width: 985px) {
  .container {
    width: 20%; } }

@media screen and (min-width: 1100px) {
  .container-modal .content-wrapper {
    width: 881px;
    margin-left: auto;
    margin-right: auto; }
  .container-modal .section-a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .modal-details {
    width: 60%; }
  .section-a figure {
    width: 40%; } }
