/* dom-overlay & menu */

.container {
  box-sizing: border-box;
  position: fixed;
  z-index: 10000000000000;
  top: 0px;
  left: 0px;
  width: 20%;
  height: 100%;
  color: #fff;
  background-color: rgba(0,0,0,0.9);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: auto;
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 40px;
}
.close {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-top: -15px;
  margin-right: -15px;
  background: url('../icons/x.png') center center no-repeat;
  background-size: 30px;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s;
}
.close:hover {
  opacity: 1;
}

.menu {

}

.menu-section {

}

.menu-section .menu-list {
  list-style: none;
}

.menu-list .menu-list-option {
  cursor: pointer;
}

/* Persistent overlay and buttons */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  user-select: none;
}

.btn-container-a {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 18px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  vertical-align: top;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: auto;
}

.btn-container-b {
  display: inline-block;
  position: absolute;
  top: 65px;
  right: 18px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  vertical-align: top;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: auto;
}

.btn-a {
  width: 30px;
  height: 30px;
  background: url('../icons/x.png') center center no-repeat;
  background-size: 30px;
  pointer-events: auto;
}

.btn-b {
  width: 30px;
  height: 30px;
  background: url('../icons/x.png') center center no-repeat;
  background-size: 30px;
}
