html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.section-main {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 970px) {
  .section-main {
    flex-direction: row;
  }
}

#outer-menu {
  width: 100%;
  background: #FFF;
  max-height: 2000px;
  overflow: hidden;
  transition: 0.8s ease-out;
}
#outer-menu.vr-active {
  max-height: 0%;
}

@media screen and (min-width: 970px) {
  #outer-menu {
    width: 20%;
    max-height: 100vh;
  }
  #outer-menu.vr-active {
    width: 0%;
  }
}

@media screen and (min-width: 1483px) {
  #outer-menu {
    width: 296px;
  }
}

#outer-menu form {
  margin-left: 0.938rem; /* 15 รท 16 */
  margin-top: 0.938rem; /* 15 รท 16 */
}

#outer-menu button {
  display: block;
  width: 190px;
  margin: 1.25rem auto 0.938rem auto;
  background: #000;
  color: #FFF;
  border: none;
}

@media screen and (min-width: 970px) {
  #outer-menu button {
    width: 75%;
  }
}
@media screen and (min-width: 1264px) {
  #outer-menu button {
    width: 190px;
  }
}

#media-container {
  position: relative;
  width: 100%;
  background: #000;
  transition: 0.8s ease-out;
}
#media-container.vr-active {
  width: 100%;
  height: 100vh;
  box-sizing: content-box;
}

@media screen and (min-width: 970px) {
  #media-container {
    width: 80%;
  }

  #media-container .img-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
  }
}

@media screen and (min-width: 1483px) {
  #media-container {
    width: 1186px;
  }
}

#media-container .img-container {
  width: 100%;
  background: #FFF;
}
#media-container.vr-active .img-container {
  display: none;
}

.img-container img {
  width: 100%;
}

.img-container .overlay-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.img-container .overlay-img.active {
  display: block;
}

#media-container.vr-active #frame-vr {
  z-index: 1;
}

#frame-vr {
 position: absolute;
 z-index: -1;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100vh;
 border: none;
}
